@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}

.mdl-grid.center-items {
  justify-content: center;
}

.form-group{
  color: #00BCD4;
}

.break {
  flex-basis: 100%;
  height: 1vh;
}

