<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-green.min.css"/>

<div class="container">
  <div>
    <h1>Mitarbeiter bearbeiten</h1>
    <div  class="formGroup">
      <form ngNativeValidate (ngSubmit)='onSubmit()' [(ngModel)]="employee" [ngModelOptions]="{standalone: true}">
        <h3>Vorname:</h3>
        <input type="name" class="form-control" required id="firstName" #firstName >
        <h3>Nachname:</h3>
        <input type="text" class="form-control" id="lastName" required #lastName >
        <h3>Strasse:</h3>
        <input type="text" class="form-control" id="street" required #street >
        <h3>Postleitzahl:</h3>
        <input type="text" class="form-control" id="zip" required #postcode >
        <h3>Stadt:</h3>
        <input type="text" class="form-control" id="city" required #city >
        <h3>Telefonnummer:</h3>
        <input type="phone" class="form-control" id="phone" required #phone >
        <h3></h3>
        <div class="buttons">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" [routerLink]="['']">Abbrechen
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type='submit'>Bearbeiten
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
