<div class="login_box">

  <img src="assets/logomms.png" width="80%" height="80%" alt="Logo_MMS">
  <input id="username" type="text" placeholder="Benutzername"
         [(ngModel)]="username"
         [ngModelOptions]="{standalone: true}" required> <br>
  <input id="password" type="password" placeholder="Passwort" [(ngModel)]="password"
         [ngModelOptions]="{standalone: true}" required> <br>
  <p id="errorMessage" style="color: red">{{error}}</p>
  <input type="button" value="Login" (click)="onSubmit()">
</div>
