.login_box {
  box-shadow:  -0px -0px 5px 2px white, 0px 0px 5px 2px white;
  background-color: rgba(71, 71, 71, 0.5);
  text-align: center;
  position: absolute;
  padding: 1%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

input{
  padding: 1%;
  margin: 1%;
}

.login_text {
  text-align: center;
  color: white;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
  left: 36.5%;
}

input[type=button] {
  color: white;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  outline: none;
  transition: 1s ease-in-out;
}

input[type=button]:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

input[type=button]:hover svg {
  stroke-dashoffset: -480;
}
