body{
  height: 100vh;
}

.avatar{
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.layout .mdl-layout__header{
  color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.drawer .mdl-menu__container {
  z-index: -1;
}

.drawer  .navigation {
  z-index: -2;
}

.drawer {
  border: none;
}

.drawer-header .mdl-menu .mdl.menu__item {
  display: flex;
  align-items: center;
}

.drawer-header {
  z-index: 3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.navigation {
  flex-grow: 1;
}

.layout .navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

.layout .navigation .mdl-navigation__link{
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

content {
  max-width: 1080px;
}

.delete_color{
  color: red;
}

.edit-color{
  color: orange;
}
