<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-blue.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body>
<div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button mdl-color--grey-900" (click)="sideBar.classList.add('is-visible')"><i class="material-icons"></i></div>
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <span class="mdl-layout-title">Mitarbeiter Management System</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <!-- Searchbar -->
        <input class="mdl-textfield__input" type="text" id="search" [(ngModel)]="input"
               [ngModelOptions]="{standalone:true}" (ngModelChange)="searchEmployee()" placeholder="Suche nach...">
      </div>
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <!-- Searchbar -->
        <input class="mdl-textfield__input" type="text" id="searchId" [(ngModel)]="inputId"
               [ngModelOptions]="{standalone:true}" (ngModelChange)="searchEmployeeById()"
               placeholder="Suche nach der ID">
      </div>
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <i class="material-icons">search</i>
      </label>
    </div>
  </header>
  <div #sideBar class="drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="drawer-header">
      <div [hidden]="mobile" aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button" (click)="sideBar.classList.remove('is-visible')"><i class="material-icons delete_color">close</i></div>
      <img src="assets/default_avatar.png" class="avatar">
      <span>Max Mustermann</span>
    </header>
    <nav class="navigation mdl-navigation mdl-color--blue-grey-800">
      <!-- Button zum erstellen von Mitarbeitern -->
      <div id="createBtn" class="mdl-navigation__link" routerLink="create">Mitarbeiter hinzufügen<i
        class="material-icons">person_add</i></div>
      <div class="mdl-layout-spacer"></div>
      <a class="mdl-navigation__link" (click)="logOut()"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                            role="presentation">logout</i>Abmelden</a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid content">
      <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class='demo-list-action mdl-list'>
          <div class="mdl-list__item" *ngFor="let e of employees$ | async">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>{{e.firstName}} {{e.lastName}}</span>
          </span>
            <!-- Bearbeiten / Löschen Button -->
            <a id="editBtn" [routerLink]="['/edit/', e.id]"><i class="material-icons edit-color">edit</i></a>
            <a id="deleteBtn" href="" (click)="deleteEmployee(e.id!)"><i
              class="material-icons delete_color">delete</i></a>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell--middle">
              <span>Stadt: {{e.city}}</span>
              <span>Strasse: {{e.street}}</span>
              <span>Postleitzahl: {{e.postcode}}</span>
              <span>Telefonnummer: {{e.phone}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
