<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-green.min.css"/>

<div class="container">
  <div>
    <h1>Mitarbeiter erstellen</h1>
    <div class="form-group">
      <form #form='ngForm' ngNativeValidate (ngSubmit)='onSubmit()'>
        <h3>Vorname:</h3>
        <input type="name" class="form-control" required id="firstName" [(ngModel)]="firstName"
               [ngModelOptions]="{standalone:true}">
        <h3>Nachname:</h3>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="lastName"
               [ngModelOptions]="{standalone:true}">
        <h3>Strasse:</h3>
        <input type="text" class="form-control" id="street" required [(ngModel)]="street"
               [ngModelOptions]="{standalone:true}">
        <h3>Postleitzahl:</h3>
        <input type="text" class="form-control" id="zip" required [(ngModel)]="zip"
               [ngModelOptions]="{standalone:true}">
        <h3>Stadt:</h3>
        <input type="text" class="form-control" id="city" required [(ngModel)]="city"
               [ngModelOptions]="{standalone:true}">
        <h3>Telefonnummer:</h3>
        <input type="phone" class="form-control" id="phone" required [(ngModel)]="phone"
               [ngModelOptions]="{standalone:true}">
        <h3></h3>
        <div class="buttons">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" [routerLink]="['']">Abbrechen
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type='submit'>Erstellen
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
